actuator-project/.idea
actuator-project/target
DesignPatterns/.idea
DesignPatterns/out
JstlLearn/.smarttomcat
JstlLearn/JstlLearn/.smarttomcat
patient/src/test
SimpleServletApp/src/main/webapp/META-INF
springboot-demo/.idea
springboot-demo/springboot-demo/target
StudentApp/src/main/webapp/META-INF
springboot-demo/springboot-demo/src/main/resources/application.properties
studentcrud/src/main/resources/application.properties
studentcrud/src/test
studentcrud/target
spring-postgres-demo/src/test
springboot-demo/springboot-demo/src/test
studentcrud/.idea
Transitioning/OOP/.idea
Transitioning/OOP/FirstExercise/.idea
Transitioning/OOP/FirstExercise/*.iml
Transitioning/OOP/FourthExercise/.idea
Transitioning/OOP/FourthExercise/*.iml
Transitioning/OOP/FifthExercise/*.iml
Transitioning/OOP/FifthExercise/.idea
Transitioning/OOP/FifthExercise/out
Transitioning/OOP/FirstExercise/out
Transitioning/OOP/FourthExercise/out
Transitioning/OOP/SecondExercise/*.iml
Transitioning/OOP/SecondExercise/.idea
Transitioning/OOP/SecondExercise/out
Transitioning/OOP/SixthExercise/*.iml
Transitioning/OOP/SixthExercise/.idea
Transitioning/OOP/SixthExercise/out
Transitioning/OOP/ThirdExercise/*.iml
Transitioning/OOP/ThirdExercise/.idea
Transitioning/OOP/ThirdExercise/out
Transitioning/Spring/FirstExercise/.idea
Transitioning/Spring/FirstExercise/src/main/resources/application.properties
Transitioning/Spring/FirstExercise/src/test
Transitioning/Spring/FirstExercise/target
Transitioning/Spring/SecondExercise/.idea
Transitioning/Spring/SecondExercise/src/main/resources/application.properties
Transitioning/Spring/SecondExercise/target
Transitioning/Spring/SecondExercise/src/test
Transitioning/Spring/ThirdExercise/.idea
Transitioning/Spring/ThirdExercise/src/main/resources/application.properties
Transitioning/Spring/ThirdExercise/target
Transitioning/Spring/ThirdExercise/src/test