actuator-project/.idea
actuator-project/target
DesignPatterns/.idea
DesignPatterns/out
JstlLearn/.smarttomcat
JstlLearn/JstlLearn/.smarttomcat
patient/src/test
SimpleServletApp/src/main/webapp/META-INF
